<h1><%= @store.name %></h1>
<br>
<div class="row">
  <br>
  <div class="col-md-6">

    <form action="/store/<%= @store.id %>/edit" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="edit-store">Edit store name:</label>
      <input type="text" name="edit-store">
      <button type="submit">Submit</button>
    </form>
    <br>
    <form action="/store/<%= @store.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="warning" type="submit">Delete store</button>
    </form>

  </div>

  <div class="col-md-6">
    <strong><%= @store.name %> currently supplies:</strong><br>
    <% if @stores_shoes.any? %>
      <% # sneaky form to remove shoe association from store %>
      <form id="remove-shoe" action="/store/<%= @store.id %>/remove/shoe" method="post">

        <input type="hidden" name="_method" value="delete">
        <ul class="shoe-list">
          <% @stores_shoes.each do |shoe| %>
          <li>
            <div><a id="shoe<%= shoe.id %>" onclick="document.getElementById('remove-shoe').submit();" href="#">&#10005;</a></div>
            <a href="/shoe/<%= shoe.id %>"><%= shoe.name %></a> <span><%= format("$%.2f", shoe.cost) %></span>
            <input type="hidden" name="remove-shoe-from-store" value="<%= shoe.id %>"/>
          </li>
          <% end %>
        </ul>
      </form>
      <% # end sneaky form %>
    <% else %>
    <em>This store does not have any shoes</em> 🤔<br>
    <% end %>
    <br><br>
    <strong>Add a shoe that <em><%= @store.name %></em> carries:</strong><br>
    <% if Shoe.all.any? %>
    <form style="margin-top: 6px;" action="/store/<%= @store.id %>/new/shoe" method="post">
      <select name="add-shoe-to-store">
        <option selected="selected" disabled>Select a shoe</option>
        <% Shoe.order(:name).each do |shoe| %>
        <option value="<%= shoe.id %>"><%= shoe.name %></option>
        <% end %>
      </select>
      <button id="add-shoe-button" type="submit">Submit</button>
    </form>
    <% else %>
    <em>There are no shoes in the database!</em>
    <% end %>
  </div>

</div>
